body {
    font-family: "Cantarell", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    background-color: #333;
    color: #f0f0f0;
    max-width: 40em;
    width: 90%;
    margin: auto;
}
a {
    color: #cc3;
}
a:hover {
    background-color: #444;
}
code {
    background-color: #444;
    color: #3cc;
}
footer {
    border-top: 1px solid #f0f0f0;
    font-size: 16px;
}
h1, h2, h3 {
    border-bottom: 1px solid #f0f0f0;
}
h1 {
    font-size: 170%;
}
h2 {
    font-size: 145%;
}
h3 {
    font-size: 120%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table thead th {
    text-align: left;
}
div.message-container {
    margin: 20px -20px;
    padding: 20px;
    background-color: #faa;
    color: #333;
}
div.input-group input {
    width: 100%;
    margin-bottom: 10px;
}
