body {
    font-size: 18px;
    line-height: 1.8;
    max-width: 40em;
    width: 90%;
    margin: auto;
}
a {
    color: blue;
}
table {
    width: 100%;
}
table thead th {
    text-align: left;
}
div.message-container {
    margin: 20px -20px;
    padding: 20px;
    border: 1px dotted black;
}
div.input-group input {
    width: 100%;
    margin-bottom: 10px;
}
